

body {
    padding: 50px;
    background-color: beige;
}

table.mitabla th {
    border-bottom: 1px solid blue;
}

table.mitabla tr td:first-child {
    width: 50px;
    text-align: center;
}


table.mitabla tr td:nth-child(2) {
    width: 150px;
    text-align: left;
}

table.mitabla {
    font-size: .75rem;
}