
h1.rojo {
    color:red;
}

/* estilos.css */

.navbar {
    margin-bottom: 70px;
}

#tabla_listado {
   
    margin-bottom: 50px;
}

h1 {
    margin-bottom: 30px;
}

input.error{
    border: 2px red dashed;
}

