
<link rel="stylesheet" href="css/estilos.css">
<div class="fila">
    <div class="celda"></div>
    <div class="celda"></div>
    <div class="celda"></div>
</div>
<div class="fila">
    <div class="celda"></div>
    <div class="celda"></div>
    <div class="celda"></div>
</div>
<div class="fila">
    <div class="celda"></div>
    <div class="celda"></div>
    <div class="celda"></div>
</div>