

div.celda {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
}

div.celda.clase1{
    background-color: red;

}


div.celda.clase2{
    background-color:green;

}


div.celda.clase0{
    background-color:grey;
    cursor: pointer;

}